<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.babykangaroo.android.mydatabaselibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <provider
            android:name=".ListProvider"
            android:authorities="com.babykangaroo.android.gpsdataloggerv2"
            android:exported="false" />
    </application>

</manifest>
